/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the overall container */
#container {
    display: flex;
    flex-direction: row; /* Place items side by side */
    width: 100%;
    height: 100vh; /* Full viewport height */
}

/* Style for the map container */
#map-container {
    flex: 2; /* Adjust the flex value to control width */
    height: 100%; /* Full height */
}

/* Style for the map */
#map {
    width: 100%;
    height: 100%;
}

/* Style for the text container */
#text-container {
    flex: 1; /* Adjust the flex value to control width */
    height: 100%; /* Full height */
    display: flex;
    flex-direction: row;
}

/* Style for the info and itinerary containers */
#info {
    flex: 1; /* Each takes half the height of the text container */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFB7B7;
}

#itinerary { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFD9D9;
}


/* Media query for smaller screens */
@media (max-width: 600px) {
    #container {
        flex-direction: column; /* Stack items vertically */
    }
    #map-container, #text-container {
        width: 100%; /* Full width for both containers */
        height: 50%; /* Half viewport height for each */
    }
    #text-container {
        flex-direction: row;     
    }
    #info, #itinerary {
        height: 100%; 
        width: 50%;     
    }
}
